.expando-button {
    float: left;
    height: 23px;
    width: 23px;
    margin: 2px 5px 2px 0;
    background: white none no-repeat scroll center center;
    cursor: pointer;

    &.expanded.video {
        background-image: url('../icon-collapse.png'); /* SPRITE */
    }

    &.expanded.video:hover {
        background-image: url('../icon-collapse-hover.png'); /* SPRITE */
    }

    &.expanded.selftext {
        background-image: url('../icon-collapse.png'); /* SPRITE */
    }

    &.expanded.selftext:hover {
        background-image: url('../icon-collapse-hover.png'); /* SPRITE */
    }

    &.collapsed.selftext {
        background-image: url('../icon-expand-text.png'); /* SPRITE */
    }

    &.collapsed.selftext:hover {
        background-image: url('../icon-expand-text-hover.png'); /* SPRITE */
    }

    &.collapsed.video {
        background-image: url('../icon-expand-image.png'); /* SPRITE */
    }

    &.collapsed.video:hover {
        background-image: url('../icon-expand-image-hover.png'); /* SPRITE */
    }

    @media
    only screen and (min-resolution: 2dppx),
    only screen and (-webkit-min-device-pixel-ratio: 2) {
        background-size: 100%;

        &.expanded.video {
            background-image: url(../icon-collapse_2x.png); /* SPRITE pixel-ratio=2 */
        }

        &.expanded.video:hover {
            background-image: url(../icon-collapse-hover_2x.png); /* SPRITE pixel-ratio=2 */
        }

        &.expanded.selftext {
            background-image: url(../icon-collapse_2x.png); /* SPRITE pixel-ratio=2 */
        }

        &.expanded.selftext:hover {
            background-image: url(../icon-collapse-hover_2x.png); /* SPRITE pixel-ratio=2 */
        }

        &.collapsed.selftext {
            background-image: url('../icon-expand-text_2x.png'); /* SPRITE pixel-ratio=2 */
        }

        &.collapsed.selftext:hover {
            background-image: url('../icon-expand-text-hover_2x.png'); /* SPRITE pixel-ratio=2 */
        }

        &.collapsed.video {
            background-image: url('../icon-expand-image_2x.png'); /* SPRITE pixel-ratio=2 */
        }

        &.collapsed.video:hover {
            background-image: url('../icon-expand-image-hover_2x.png'); /* SPRITE pixel-ratio=2 */
        }
    }
}
