body {
    margin: 0;
}

#overlay, #videoel, #snoo-head {
    position: absolute;
    top: 0;
    left: 0;

    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph;
    filter : fliph;

    width : 300px;
    height : 225px;
}

#snoo-head {
    opacity: 0;
    transition: opacity .25s;
}

#snoo-head.located {
    opacity: .8;
}
