#live-comments {
    margin-top: -10px;
    margin-bottom: 4px;
    transition: max-height 0.5s ease-in;
    max-height:0px;
    height: auto;
    overflow: hidden;
}

.new-comments-waiting {
    background-color: #efefed;
    border: 1px solid #ccccca;
    padding: 10px;
    font-size: larger;
    text-align: center;
    color: #a5a4a4;
    font-weight: bold;
}

.tagline.new-live-comment:after {
    content: "*NEW*";
    color: #FFB000;
}
