body {
    background-image: url("http://static.reddit.com/award/mold-white-bg.png");
}

.linkinfo {
    border: 1px solid #50a040;
    background-color: #edf7f2;
    background-image: url("http://static.reddit.com/award/mold-bg.png");
    color: #363636;
}

#header {
    border-bottom: 1px solid #99bf88;
    position: relative;
    background-color: #edf7f2;
    background-image: url("http://static.reddit.com/award/mold-bg.png");
    z-index: 99;
}

#header-bottom-right {
    background-color: #d0f8ca;
    border-top: solid 1px #8b8;
    border-left: solid 1px #8b8;
}

#header-bottom-left .titlebox .usertext-body .md ul li a {
   background-color: #EFF7FF;
   border-left: 1px solid #82a200;
   border-right: 1px solid #82a200;
   border-top: 1px solid #82a200;
}

#header-bottom-left .titlebox .usertext-body .md ul li a:hover {
   border-left-color: #82a200; 
   border-right-color: #82a200;
   border-top-color: #82a200;
   background-color: #edf2c9; 

}
#header-bottom-left .titlebox .usertext-body .md ul li a {
    background-color:#EFF7FF;
    padding:2px 6px 0;
    color:#82a200;
    text-decoration:none;
    font-weight:bold;
    font-size: small;
}

.thing .title:hover { color:#74B74A }
.thing .title.loggedin { color:#52892E }
.thing .title.loggedin:hover { color:#74B74A }

.tabmenu li a {
    background-color: #edf2c9;
    border-top: solid 1px #8b8;
    border-right: solid 1px #8b8;
    border-left: solid 1px #8b8;
    }

.tabmenu li.selected a {
    border-color: #82a200 #82a200 transparent !important;
    }

.tabmenu li.selected a:hover {
    border-color: #82a200 !important
    }

.tabmenu li a:hover {
    background-color: #edf2c9 !important;
    color: #82a200 !important;
    border-color: #82a200 !important
    }

.tagline a {color: #52892E; }
a { color:  #52892E; }


.content {
    margin-left: 0;
    margin-right: 0;
    background-image: url("http://static.reddit.com/award/mold-waterline.png");
    background-position: 0 1000px;
    background-repeat: repeat-x;
}