## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is Reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
##
## All portions of the code written by CondeNet are Copyright (c) 2006-2010
## CondeNet, Inc. All Rights Reserved.
################################################################################

<%namespace file="utils.html" import="error_field, success_field"/>
<%namespace name="utils" file="utils.html"/>
<%namespace file="createsubreddit.html" import="radio_type"/>

<%! from r2.lib.strings import strings %>

%if thing.gold_creddits <= 0:
  ${_("You don't have any gold creddits.")}
  &#32;
  <a href="/help/gold">
    ${_("You can purchase some here.")}
  </a>
%else:
  <form id="giftgold" action="/api/giftgold" method="post"
        class="content gold-form"
        onsubmit="return post_form(this, 'giftgold');">
    <h1>${_("well, aren't you nice?")}</h1>

    <div class="spacer">
      <%utils:round_field title="${_('how many months? (you have %d available)') % thing.gold_creddits}">
      <input type="text" name="months" value="${'1' if thing.gold_creddits == 1 else ''}"/>
      ${error_field("BAD_STRING", "months")}
      ${error_field("NO_TEXT", "months")}
      </%utils:round_field>
    </div>

    <div class="spacer">
      <%utils:round_field title="${_('who\'s the lucky redditor?')}">
      <input type="text" name="recipient" value="${thing.recipient}" />
      ${error_field("NO_USER", "recipient", "span")}
      ${error_field("USER_DOESNT_EXIST", "recipient", "span")}
      </%utils:round_field>
    </div>

    <div class="spacer">
      <%utils:round_field title="${_('let them know who you are?')}">
      ${radio_type("signed", "yes", _("yes, include my username"),
                   "",
                   True)}
      <br/>
      ${radio_type("signed", "no", _("no, make it anonymous"),
                   "",
                   False)}
      </%utils:round_field>
    </div>

    <div class="spacer">
      <%utils:round_field title="${_('gift message (optional)')}">
      <textarea rows="5" cols="40" name="giftmessage" id="giftmessage">
      </textarea>
      </%utils:round_field>
    </div>

  <button type="submit" class="btn gold-button">${_("give")}</button>
  <span class="status"></span>

  </form>
%endif
