## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2015
## reddit Inc. All Rights Reserved.
###############################################################################

## a kooky hack to make ranks and voting arrows in the spotlight box line up
## without late rendering or blasting style attributes everywhere
<%!
  from r2.config import feature
  from r2.lib.filters import scriptsafe_dumps
%>

<style>
  body > .content .link .rank, .rank-spacer {
    width: ${thing.rank_width}ex
  }
  body > .content .link .midcol, .midcol-spacer {
    width: ${thing.midcol_width}ex
  }
  .adsense-wrap {
    background-color: #eff7ff;
    font-size: 18px;
    padding-left: ${thing.midcol_width + thing.rank_width}ex;
    padding-right: 5px;
  }
</style>
<%include file="listing.html"/>
<script>
%if feature.is_enabled('promoted_links_in_feed') and thing.show_promo_in_listing:
  r.listing.setup(
    ${scriptsafe_dumps(",".join([link._fullname for link in thing.things[:10]]))},
    ${scriptsafe_dumps(thing.path_for_promo_request)},
    ${scriptsafe_dumps(thing.show_promo_in_listing)}
  );
%endif
</script>
