## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2016
## reddit Inc. All Rights Reserved.
###############################################################################

<%inherit file="reddit.html"/>

<%! from r2.lib.filters import scriptsafe_dumps %>

<%def name="head()">
  ${parent.head()}

  %if getattr(thing.link, "moat_engagement_tracking", False):
    <script>
      %if thing.dnt_enabled:
      if (!window.DO_NOT_TRACK) {
      %endif
        (function(a){
          var b = a.createElement('script'), c = a.getElementsByTagName('script')[0];
          b.type = 'text/javascript'; b.async = !0;
          b.src = ${scriptsafe_dumps(g.live_config.get("moat_engagement_url"))};
          c.parentNode.insertBefore(b,c);
        })(document);
      %if thing.dnt_enabled:
      }
      %endif
    </script>
  %endif
</%def>
