<div id="timeline">
  <h2><a href="http://blog.reddit.com/2012/03/introducing-reddit-timeline.html">reddit timeline&trade;</a></h2>
  <a class="srlink" href="/r/timereddits">/r/timereddits</a>

  <a class="random button" href="/t/random"><span>time machine</span></a>
  <button class="up"></button>
  <div class="container">
    <ul>
    %for timereddit in thing.timereddits:
      <li class="era ${timereddit.get('class')}"><a href="${timereddit['url']}"><div class="dot"></div><span>${timereddit['name']}</span></a></li>
    %endfor
    </ul>
  </div>
  <button class="down"></button>
</div>
